<!DOCTYPE html>
<html>
  <head>
    <title>Zelda API Data Project</title>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body class="bg-gray-100">
    <nav class="bg-blue-500 p-6">
      <div class="container mx-auto flex justify-between items-center">
        <div class="text-white text-xl font-bold">Zelda API Data Project</div>
        <ul class="flex space-x-4">
          <li><%= link_to 'Home', root_path, class: 'text-white hover:underline' %></li>
          <li><%= link_to 'Games', games_path, class: 'text-white hover:underline' %></li>
          <li><%= link_to 'Characters', characters_path, class: 'text-white hover:underline' %></li>
          <li><%= link_to 'Bosses', bosses_path, class: 'text-white hover:underline' %></li>
          <li><%= link_to 'Items', items_path, class: 'text-white hover:underline' %></li>
        </ul>
      </div>
    </nav>

    <div class="container mx-auto mt-8">
      <%= yield %>
    </div>
  </body>
</html>
