<!DOCTYPE html>
<html>
  <head>
    <title>Zelda API Data Project</title>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body class="bg-image min-h-screen">
    <nav class="bg-lime-500 p-6">
      <div class="container mx-auto flex justify-between items-center">
        <%= image_tag("zelda_icon.png", alt: "Icon for Zelda", size: "100", class: "mt-4 rounded-lg shadow-md") %>
        <div class="text-white text-xl font-bold">Zelda API Data Project</div>
        <ul class="flex space-x-4">
          <li><%= link_to 'Home', root_path, class: 'text-white hover:underline' %></li>
          <li><%= link_to 'Games', games_path, class: 'text-white hover:underline' %></li>
          <li><%= link_to 'Characters', characters_path, class: 'text-white hover:underline' %></li>
          <li><%= link_to 'Bosses', bosses_path, class: 'text-white hover:underline' %></li>
          <li><%= link_to 'Items', items_path, class: 'text-white hover:underline' %></li>
          <li><%= link_to 'About', about_path, class: 'text-white hover:underline' %></li>
        </ul>
        <%= form_with url: search_path, method: :get, local: true, class: 'flex space-x-2' do |form| %>
          <%= form.text_field :query, value: params[:query], placeholder: 'Search...', class: 'p-4 shadow' %>
          <%= form.select :category, options_for_select([['Games', 'games'], ['Characters', 'characters'], ['Bosses', 'bosses'], ['Items', 'items']], selected: params[:category]), class: 'p-4 shadow' %>
          <%= form.submit 'Search', class: 'p-4 bg-yellow-500 text-white shadow border' %>
        <% end %>
      </div>
    </nav>

    <div class="container mx-auto mt-8">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
